button, input[type=reset], input[type=submit] {
    border-radius: %buttons,borderRadius%;
    background-color: %buttons,defaultBackground%;
    border: none;
    padding: %buttons,defaultPadding%;
    margin: 5px;
    color: %buttons,defaultTextColor%;
    font-size: %buttons,defaultTextSize%;
    min-width: %buttons,minWidth%;
    transition: opacity 0.25s linear, border-radius 0.1s linear;
}
button:hover, input[type=reset]:hover, input[type=submit]:hover {
    opacity: 0.85;
}
button.danger, input[type=reset].danger, input[type=submit].danger {
    background-color: %buttons,backgroundDanger%;
}
button.info, input[type=reset].info, input[type=submit].info {
    background-color: %buttons,backgroundInfo%;
}
button.warning, input[type=reset].warning, input[type=submit].warning {
    background-color: %buttons,backgroundWarning%;
}
button:disabled {
    background-color: %buttons,backgroundDisabled%;
}
button:active, input[type=reset]:active, input[type=submit]:active {
    border-radius: 14px;
}
button.danger-inverted, input[type=reset].danger-inverted, input[type=submit].danger-inverted {
    border: 1px solid %buttons,backgroundDanger%;
    color: %buttons,backgroundDanger%;
    background-color: #FFF;
}
button.info-inverted, input[type=reset].info-inverted, input[type=submit].info-inverted {
    border: 1px solid %buttons,backgroundInfo%;
    color: %buttons,backgroundInfo%;
    background-color: #FFF;
}
button.warning-inverted, input[type=reset].warning-inverted, input[type=submit].warning-inverted {
    border: 1px solid %buttons,backgroundWarning%;
    color: %buttons,backgroundWarning%;
    background-color: #FFF;
}