@media all and (max-width: 1080px) {
    div#pageContent {
        left: %mobile,marginsPageContent%;
        right: %mobile,marginsPageContent%;
    }
    div#pageHeader {
        height: %pageHeader,headerHeightMobile%;
    }
    
    div#pageHeaderContent {
        left: %pageHeader,pageHeaderMarginMobile%;
        right: %pageHeader,pageHeaderMarginMobile%;
        top: %pageHeader,contentMarginTopMobile%;
    }
}
