.topNavbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: %navbar,backgroundColor%;
    height: %navbar,lineHeight%;
    line-height: %navbar,lineHeight%;
    padding-left: %navbar,paddingSides%;
    padding-right: %navbar,paddingSides%;
    color: %navbar,textColor%;
    font-size: %navbar,textSize%;
    z-index: 1000;
}
.topNavbar-fixed {
    position: fixed;
}
.topNavbar span.sitename {
    position: relative;
    top: -2px;
    margin-right: 15px;
}

.topNavbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: -2px;
}

.topNavbar li {
    float: left;
}

.topNavbar li a {
    display: block;
    color: %colors,light%;
    text-align: center;
    padding: 0px 15px 0px 15px;
    line-height: %navbar,lineHeight%;
    text-decoration: none;
}

.topNavbar li a:hover, .topNavbar li a.active {
    background-color: %navbar,backgroundColorLinkHover%;
}

.topNavbar .form-search input[type=text] {
    position: relative;
    top: -3px;
    padding: 10px;
    border: none;
    font-size: %text,defaultSize%;
    width: 130px;
    transition: width 0.25s linear;
}

.topNavbar .form-search input[type=text]:focus {
    width: 180px;
}

.topNavbar .form-search input[type=submit], .topNavbar .form-search button {
    position: relative;
    top: 0;
    left: -80px;
    padding: 10px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    padding: 0;
    color: %navbar,backgroundColor%;
    width: 25px;
}