.topNavbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: %navbar,backgroundColor%;
    height: %navbar,lineHeight%;
    line-height: %navbar,lineHeight%;
    padding-left: %navbar,paddingSides%;
    padding-right: %navbar,paddingSides%;
    color: %navbar,textColor%;
    font-size: %navbar,textSize%;
    z-index: 1000;
}
.topNavbar-fixed {
    position: fixed;
}
.topNavbar a.sitename {
    font-size: %text,title3%;
    color: %navbar,textColor%;
    font-weight: normal;
}

.topNavbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: -1px;
}

.topNavbar li {
    float: left;
    display: block;
    position: relative;
}

.topNavbar ul li.align-right {
    float: right;
}

.topNavbar ul li a {
    display: block;
    color: %colors,light%;
    text-align: center;
    padding: 0px 15px 0px 15px;
    line-height: %navbar,lineHeight%;
    text-decoration: none;
}

.topNavbar li a:hover, .topNavbar li a.active {
    background-color: %navbar,backgroundColorLinkHover%;
}

.topNavbar li.dropdown ul {
    display: none;
    background-color: %navbar,backgroundColor%;
}

.topNavbar ul li a {
    white-space: nowrap;
}

.topNavbar ul li:hover > ul {
    display: block;
    margin-top: 10px;
}

.topNavbar ul li:hover li {
    float: none;
    font-size: 11px;
}