.topNavbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: %navbar,backgroundColor%;
    height: %navbar,lineHeight%;
    line-height: %navbar,lineHeight%;
    padding-left: %navbar,paddingSides%;
    padding-right: %navbar,paddingSides%;
    color: %navbar,textColor%;
    font-size: %navbar,textSize%;
    z-index: 1000;
}
.topNavbar-fixed {
    position: fixed;
}
